#body {
  background-color: #444444;
}

#body.dark-mode {
  background-color: white;
}

#info-box {
  margin-top: 10%;
  background-color: #2069e0;
  color: white;
}

.load-btn {
  background-color: #49e20e;
  margin: 10%;
}

img {
  width: 50%;
}

.table-div {
  border-radius: 7px;
  background-color: #212529;
}

.buttons {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 23%;
  margin-left: 0%;
}

th {
  width: 10%;
}
